@using MagicVilla_Web.DTOs
@model VillaCreateDTO

<form asp-action="CreateVilla">
    <br />
    <div class="container border p-3">
        <h1 class="text-primary">Create Villa</h1>
        <hr />

        <div class="row">

        </div>
    </div>
</form>